

/* Global Heading Styles (Poppins) */
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #4A2C2A; /* Coffee Brown */
    margin-bottom: 20px;
}
h4{
    font-family: 'Quicksand', sans-serif !important;

}
/* Global List Styles (Roboto) */
li {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333; /* Dark Gray */
    line-height: 1.6;
    margin-bottom: 8px;
}

